@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #252424;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {

  background: #050505;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}





.btn-scrollTop {
  position: fixed;
  bottom: 10px;
  font-size: 2.25rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(214, 71, 71);
  right: 2.7%;
  background: none;
  border-radius: 50px;
  padding: 0px;
  border: none;
  opacity: 0.7;
  transition: 0.2s all;
}

.btn-scrollTop:hover {
  color: rgb(27, 158, 27);
}


.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}


.bg-black\/75 {
  background-color: rgba(0, 0, 0, 0.5) !important;

}

.caro {
  direction: ltr !important;
}
[class^="number-slide"],
[class*=" number-slide"] {
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  
}